@charset "utf-8";








.m_menu,.m_con01_tit,.m_con03_tit01,.m_con03_tit02,.m_footer,.mb_pdt_info,.mb_s_con_price{display:none;}/*미디어영역밖에 쓰면 일반 css처럼적용*/

@media screen and (max-width:768px){
        
    /*웹 모바일화(웹 사이즈 지정 해 뒀던 거 부수기)*/
    body{min-width:auto;}
    .inner{width:auto;}
    
    /*웹뷰에서 쓰던 것 안보임 처리(모바일에서 필요없는 부분 none처리, 모바일 안보임 처리)*/
    .gnb,.lnb,.sitemap,.main_con01 p,.main_con02,.main_con03 div .con03_tit01,.main_con03 div .con03_tit02,.main_con03 div a,.s_con01_right,.s_con02_info{display:none;}
    
    
    /*모바일 뷰 처리(모바일에서는 보이는 부분)*/
    .m_menu,.m_con01_tit,.m_con03_tit01,.m_con03_tit02,.m_footer,.mb_pdt_info,.mb_s_con_price{display:block;}
    
    
    
    
    
    /*----------------------------------include----------------------------------------*/
    /*header*/
    #header{
        margin:0;
        width:100%;
        background-color:#111;
        position:static;
        padding:2%;
        box-sizing:border-box;
        display: block;
    }

    .main_logo{
        background:url(../images/common/mb_logo.png) no-repeat center center; 
        background-size:100%;
        padding:1% 0;
        width:40%; 
        height:auto; 
        text-indent:-9999px;
        margin:0 auto;
        position:relative;
        display:block;
        
    }
    .main_logo a{
        display:block;
        width:100%;
        height:100%;
    }
    
    .m_menu{
        background:url(../images/common/menu_bar.png) no-repeat center center;
        background-size:contain;
        position:absolute;
        right:-70%;
        top:50%;
        margin-top:-15px;
        z-index:9999;
        width:30px;
        height:30px;
    }
    .m_menu a{
        display:block;
        width:100%;
        height:100%;
    }

    /*footer*/
    #footer{
        width:100%;
        height:auto;
        margin:0 auto;
        box-sizing:border-box;
        padding:0;
        
    }
    .m_footer{
        display:block;
        
    }
    .m_footer li{
        border-bottom:1px solid #333;
        height:20%;
        padding:1.5% 5%;
        font-weight:200;
        font-size:14px;
    }
    .m_footer li a{
        display:block;
        width:100%;
        background:url(../images/common/ft_arrow.png) no-repeat;
        background-position:98% center;
    }
    
    /*----------------------------------include----------------------------------------*/
    
    
    /*-----------------------------------main-----------------------------------------*/
    /*main_slider*/
    .main_slider{
        margin:0;
        background:url(../images/main/mb_main_slider.png) no-repeat center center;
        background-size:100% 100%;
        width:100%;
        height:auto;
        padding:50% 0;    
        display:block;
        font-size:0;
        overflow:hidden;
    }
    
    
    /*main_con01*/
    .m_con01_tit{
        font-size:28px;
        text-align:center;
        background-color:#111;
        color:#fff;
        font-weight:700;
        padding:2%;
        box-sizing:border-box;
    }
    .main_con01{
        width:100%;
        height:auto;
    }
    
    .main_con01 ul{ 
        margin:0;
        width:100%;
        height:auto;
    }
    
    .main_con01 li{
        background-size:100% 100%;
        width:100%;
        height:auto;
        font-size:0;
        padding:0;
        box-sizing:border-box;
        float:left;
        margin:0;
        padding:30% 0;
        
    }

    .main_con01 .con01_img01{
        background:url(../images/main/mb_con01_img01.jpg) no-repeat center center; 
        background-size:100% 100%;
        width:50%;
    }
    .main_con01 .con01_img02{
        background:url(../images/main/mb_con01_img02.jpg) no-repeat center center; 
        background-size:100% 100%;
        width:50%;
    }
    .main_con01 .con01_img03{
        background:url(../images/main/mb_con01_img03.jpg) no-repeat center center; 
        background-size:100% 100%;
        width:50%;
        
    }
    .main_con01 .con01_img04{
        background:url(../images/main/mb_con01_img04.jpg) no-repeat center center; 
        background-size:100% 100%;
        width:50%;
    } 

    
    
    /*main_con03*/
    
    
    .m_con03_tit01{
        display:block;
        font-size:28px;
        text-align:center;
        background-color:#111;
        color:#fff;
        font-weight:700;
        padding:2%;
        box-sizing:border-box;
        width:100%;
        margin:0 auto;
    }
    .m_con03_tit02{
        display:block;
        font-size:28px;
        text-align:center;
        background-color:#111;
        color:#fff;
        font-weight:700;
        padding:2%;
        box-sizing:border-box;
        width:100%;
        margin:0 auto;
    }
    .main_con03{
        font-size:0; 
        color:#f9f9f9;
        margin:0 auto;
        display:block;
        width:100%;
        height:auto;
    }

    .main_con03 div{
        float:left; 
        display:block;
        margin:0;
    }
    .main_con03 div a{
        float:left; 
        display:block;
        margin:0;
        width:50%;
        height:auto;
        padding:30% 0;
        background-size:cover;
    }

    .con03_list01{
        width:100%;
        height:auto;
    }
    .con03_list02{
        width:100%;
        height:auto;
    }
    
    .con03_goods01{
        background:url(../images/main/mb_con02_img01.jpg) no-repeat center center;
        background-size:cover;
        box-sizing:border-box;
    }
    .con03_goods02{
        background:url(../images/main/mb_con02_img02.jpg) no-repeat center center;
        background-size:cover;
    }

    .con03_goods03{
        background:url(../images/main/mb_con03_img01.jpg) no-repeat center center;
        background-size:cover;
    }
    .main_con03 .con03_goods04{
        background:url(../images/main/mb_con03_img02.jpg) no-repeat center center; 
        background-size:cover;
    }
    
    /*-----------------------------------main-----------------------------------------*/
    
    
    /*------------------------------------sub-----------------------------------------*/
    
    /*s_main_slider*/
    .s_main_slider{
        background-image:url(../images/main/mb_sub_slider.jpg) no-repeat center center;
        background-size:cover;
        width:100%;
        height:auto;
        padding:20% 0;
        margin:0 auto;
        box-sizing:border-box;
        display:block;
    }
    
    


    /*s_main_con01*/
    .s_main_con01{
        box-sizing:border-box;
        margin:0 auto;
        width:100%;
        height:auto;
        padding:0;
        overflow:hidden;
    }
    .s_con01_left{
        width:50%;
        height:auto;
        background:url(../images/main/mb_sub_con01_img01.jpg) no-repeat center center;
        background-size:cover;
        font-size:0;
        padding:0;
        box-sizing:border-box;
        padding-bottom: 60%;
        overflow:hidden;
    }
    .s_con01_left a{
        overflow:hidden;
        display:block;
        width:100%;
        height:auto;        
        box-sizing:border-box;
    }
    .mb_con01_right{
        float:left;
        width:50%;
        height:0;
        background-color:#fff;
        background-size:cover;
        box-sizing:border-box;
        position: relative;     
        overflow-y:auto;
        padding-bottom: 60%;
        margin:0 auto;
    }
    
    .mb_pdt_info{
        overflow:hidden;
        position:absolute;
        padding:0;
        margin:0;
        text-align:center;
        font-weight:100;
        width:100%;
        height:auto;
        box-sizing:border-box;
        top:8%;
        line-height:100%;
        
    }
    .mb_pdt_info h2{
        font-size:1.3em;
        font-weight:normal;
        padding-top:5%;
        padding-bottom:3%;
        box-sizing:border-box;
    }
    .mb_pdt_info h5{
        font-weight:normal;
        font-size:0.688em;
        padding:2% 0;
        box-sizing:border-box;
    }
    .mb_pdt_info h6{
        font-weight:normal;
        font-size:0.375em;
        box-sizing:border-box;
    }
    .mb_pdt_info p{
        font-size:0.375em;
        box-sizing:border-box;
        padding:2% 0;
    }
    .mb_s_con_price{
        background:#f1f1f1;
        text-align:center;
        box-sizing:border-box;
        margin-left:20%;
        margin-right:20%;
        margin-bottom:5%;
        margin-top:5%;
    }
    .mb_s_con_price a{
        padding:5% 0;
        display:block;
    }

    
    /*s_main_con02*/
    .s_main_con02{
        box-sizing:border-box;
        margin:0 auto;
        width:100%;
        padding:0;
        display:block;
        overflow:hidden;
    }

    .s_main_con02 ul{
        width:100%;
        display:block;
    }
    .s_main_con02 li{
        width:50%;
        height:auto;
        float:left;
        margin:0;
        font-size:14px;
        background-size:cover;
        box-sizing:border-box;
        position:relative;
    }

    .s_con02_img01{
        background:url(../images/main/mb_sub_con01_img02.jpg) no-repeat center center; 
        font-size:0;
        display: block;
    }
    .s_con02_img02{
        background:url(../images/main/mb_sub_con01_img03.jpg) no-repeat center center; 
        font-size:0;
        display: block;
    }
    .s_con02_img03{
        background:url(../images/main/mb_sub_con01_img04.jpg) no-repeat center center; 
        font-size:0;
        display: block;
    }
    .s_con02_img04{
        background:url(../images/main/mb_sub_con01_img05.jpg) no-repeat center center; 
        font-size:0;
        display: block;
    }
    .s_con02_img05{
        background:url(../images/main/mb_sub_con01_img06.jpg) no-repeat center center; 
        font-size:0;
        display: block;
    }
    .s_con02_img06{
        background:url(../images/main/mb_sub_con01_img07.png) no-repeat center center; 
        font-size:0;
        display: block;
    }
    
    .s_main_con02 li a{
        display:block;
        padding:50% 0;
    }
    .mb_s_con_txt{
        color:#333;
        z-index:999;
        text-indent:0;
        box-sizing:border-box;
        position:absolute;
        bottom:8%;
        left:5%;
        font-size:11px;
    }
    .mb_s_con_txt a{
        display:block;
    }
    /*------------------------------------sub-----------------------------------------*/
    
    
}















































